.table {
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
  height: 100%;
}

.filter {
  position: fixed;
  bottom: 5vh;
  left: 5vw;
}

.zoom-out--btn {
  position: fixed;
  top: 5vh;
  left: 5vw;
}
